data/super_order.db
data/super_order_copy.db

# Frontend
frontend/node_modules/
package-lock.json

# Backend
backend/config.json
backend/server
backend/config.json.bak

# IDE
Claude.md
.vscode/
.idea/

# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test

# Output files
*.out

# Vendor directory
vendor/

# Go workspace
go.work
go.work.sum
backend/config.json.bak
frontend/dist/assets/*
data/super_order.db-shm
data/super_order.db-wal
data/super_order.db.backup
